<div class="add-dialog-wrapper">
    <mat-dialog-actions align="end">
        <button mat-dialog-close mat-icon-button class="close-button">
            <mat-icon class="close-icon" color="warn">close</mat-icon></button>
    </mat-dialog-actions>

    <h2 mat-dialog-title>Інформація щодо клієнта</h2>
    <mat-dialog-content class="mat-typography form-style">
        <div class="row">
            <form class="content-wrapper"
                [formGroup]="form"
                name="customerForm"
                autocomplete="off">
                <div class="column">
                    <mat-form-field appearance="outline">
                        <mat-label>
                            Ім'я
                        </mat-label>
                        <input type="text" required formControlName="firstName" matInput>
                        <mat-error *ngIf="form.get('firstName')?.hasError('required')">
                            Поле обов'язкове для заповнення
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>
                            Прізвище
                        </mat-label>
                        <input type="text" required formControlName="lastName" matInput>
                        <mat-error *ngIf="form.get('lastName')?.hasError('required')">
                            Поле обов'язкове для заповнення
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>
                            Номер паспорту
                        </mat-label>
                        <input type="text" required formControlName="passportNumber" matInput>
                        <mat-error *ngIf="form.get('passportNumber')?.hasError('required')">
                            Поле обов'язкове для заповнення
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="column">

                    <mat-form-field appearance="outline">
                        <mat-label>
                            Електронна адреса
                        </mat-label>
                        <input type="text" required formControlName="email" matInput>
                        <mat-error *ngIf="form.get('email')?.hasError('required')">
                            Поле обов'язкове для заповнення
                        </mat-error>
                    </mat-form-field>
           
                    <mat-form-field appearance="outline">
                        <mat-label>
                           Номер телефону
                        </mat-label>
                        <input type="text" required formControlName="phoneNumber" matInput>
                        <mat-error *ngIf="form.get('phoneNumber')?.hasError('required')">
                            Поле обов'язкове для заповнення
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button
            [disabled]="form.invalid"
            color="accent"
            class="saveBtn"
            (click)="onSave()"
            mat-raised-button>
            Зберегти
            </button>
        <button
            *ngIf="client.id"
            color="warn"
            class="saveBtn"
            (click)="onDelete()"
            mat-raised-button>
            Видалити
        </button>
    </mat-dialog-actions>
</div>