<div id="bookings">
    <h1>Бронювання <mat-icon>shopping_cart</mat-icon></h1>
    <button
      class="add-button"
      color="accent"
      (click)="addBooking()"
      mat-raised-button>
      Додати
    </button>
    <table #bookingTableRef mat-table [dataSource]="bookings" class="mat-elevation-z8 demo-table">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!-- Car Column -->
        <ng-container matColumnDef="car">
            <th mat-header-cell *matHeaderCellDef>Машина</th>
            <td mat-cell *matCellDef="let element">{{element.car.brand}} {{element.car.model}}</td>
        </ng-container>
      
        <!-- Client Column -->
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>Клієнт</th>
          <td mat-cell *matCellDef="let element">{{element.customer.firstName}} {{element.customer.lastName}}</td>
        </ng-container>

         <!-- Start Date Column -->
         <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Дата бронювання</th>
          <td mat-cell *matCellDef="let element">{{element.startDate | date: 'dd MMMM yyyy'}}</td>
        </ng-container>

        <!-- Expected Return Date Column -->
        <ng-container matColumnDef="expectedReturnDate">
          <th mat-header-cell *matHeaderCellDef>Очікувана дата поверення</th>
          <td mat-cell *matCellDef="let element">{{element.expectedReturnDate | date: 'dd MMMM yyyy'}}</td>
        </ng-container>

        <!-- Actual Return Date Column -->
        <ng-container matColumnDef="actualReturnDate">
          <th mat-header-cell *matHeaderCellDef>Дата повернення</th>
          <td mat-cell *matCellDef="let element">{{element.actualReturnDate | date: 'dd MMMM yyyy'}}</td>
        </ng-container>

        <!-- Total Sum Column -->
        <ng-container matColumnDef="totalSum">
          <th mat-header-cell *matHeaderCellDef>Сума до сплати</th>
          <td mat-cell *matCellDef="let element">{{element.totalSum}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            (click)="showDetails(row)"
            mat-row
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>
</div>
