<div>
      <h1 style="display: flex; justify-content: center;">Login</h1>
      <form [formGroup]="loginForm" class="login">
        <!-- Email Field -->
        <p>Email:</p>
        <mat-form-field>
          <input placeholder="Enter Email here..." 
            type="email" required matInput formControlName="email">
        </mat-form-field>

        <!-- Password Field -->
        <p>Password:</p>
        <mat-form-field>
          <input placeholder="Enter password here..." 
            type="password" required matInput formControlName="email">
        </mat-form-field>
      </form>
</div>
